@import '~@angular/material/theming';
@import '~corobor-theme/src/angular-material.scss';

@import '~corobor-theme/src/fa-icon.scss';
@include fa-icon-theme($theme);

.theme-alternate {
  @include fa-icon-theme($altTheme);
}

@font-face {
  font-family: 'Questrial';
  src: url('~corobor-theme/src/questrial-regular.ttf');
}
