@import '~@angular/material/theming';

@mixin fa-icon-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  fa-icon[color='primary'] {
    color: mat-color($primary);
  }
  fa-icon[color='accent'] {
    color: mat-color($accent);
  }
  fa-icon[color='warn'] {
    color: mat-color($warn);
  }
}
